# IntelliJ IDEA / Android Studio
*.iml
.idea/

# Gradle-specific files
.gradle/
.gradle
.gradle/
/caches
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Mac OS specific files
.DS_Store

# Additional generated or environment-specific directories
/daemon/
/jdks/
/kotlin-profile/
/native/
/wrapper/
